.d-flex {
  display: flex;
}
.width-50 {
  width: 50%;
}
.call-to-action {
  color: #fff;
  border-radius: 2px;
  background-color: #59A9DA;
  padding: 15px 10px;
  border: none;
  min-width: 100px;
}
.call-to-action-alt {
  color: #000;
  border-radius: 2px;
  background-color: #fff;
  padding: 15px 10px;
  border: none;
  min-width: 100px;
}
@media (max-width: 767px) {
  .grid {
    display: block !important;
    max-width: 100%;
    overflow-x: scroll;
    >div {
      margin: 10px 0px;
    }
  }
  .reverse-grid {
    display: flex;
    flex-direction: column-reverse;
  }
  .site-header>div:first-child {
    display: contents;
  }
}