.d-flex {
  display: flex;
}
.width-50 {
  width: 50%;
}
.call-to-action {
  color: #fff;
  border-radius: 2px;
  background-color: #59A9DA;
  padding: 15px 10px;
  border: none;
  min-width: 100px;
}
.call-to-action-alt {
  color: #000;
  border-radius: 2px;
  background-color: #fff;
  padding: 15px 10px;
  border: none;
  min-width: 100px;
}